<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pick-a-Book</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/tooplate-style.css">
</head>

<body>
    <div class="container">
        <header class="tm-site-header">
            <h1 class="tm-site-name">Pick-a-Book</h1>
            <p class="tm-site-description">Your Used Online Bookstore</p>

            <nav class="navbar navbar-expand-md tm-main-nav-container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                    <ul class="nav nav-fill tm-main-nav-ul">
                        <li class="nav-item"><a class="nav-link active" href="index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
                        <li class="nav-item"><a class="nav-link" href="search">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="signIn">Sign In / Sign Up</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="tm-main-content">
            <section class="tm-margin-b-l">
                <header>
                    <h2 class="tm-main-title">Welcome to our bookstore</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, rerum ullam incidunt temporibus facilis recusandae officia quaerat quibusdam error voluptate doloremque? Unde harum reprehenderit repellendus.</p>

                <div class="tm-gallery">
                    <div class="row">

                    </div>
                </div>

                <nav class="tm-gallery-nav">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">1</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">2</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">3</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">4</a></li>
                    </ul>
                </nav>
            </section>
        </div>

        <footer>
            Copyright &copy; 2022 | Pick-a-Book (Online Used Bookstore)
        </footer>
    </div>

    <!-- JS files -->
    <script src="js-lib/jquery-1.11.3.min.js"></script>
    <script src="js-lib/popper.min.js"></script>
    <script src="js-lib/bootstrap.min.js"></script>
    <script src="js/booksList.js"></script>
</body>

</html>