<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pick-a-Book</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tooplate-style.css">
</head>

<body>

    <div class="container">
        <header class="tm-site-header">
            <h1 class="tm-site-name">Pick-a-Book</h1>
            <p class="tm-site-description">Your Used Online Bookstore</p>

            <nav class="navbar navbar-expand-md tm-main-nav-container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                    <ul class="nav nav-fill tm-main-nav-ul">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
                        <li class="nav-item"><a class="nav-link" href="search">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="signIn">Sign In</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="tm-main-content no-pad-b">
            <section class="row tm-item-preview">
                <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
                    <img alt="Image" class="img-fluid tm-img-center-sm" id="book-img">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2 id="title" class="tm-blue-text tm-margin-b-p">Book Title</h2>
                    <p class="tm-blue-text tm-margin-b-s">Authors: <span id="author"></span></p>
                    <p class="tm-blue-text tm-margin-b-s">Rating: <span id="rating"></span><img src="img/star.png" alt="Star image"></p>
                    <p class="tm-blue-text tm-margin-b-s">Genre: <span id="genre"></span></p>
                    <p class="tm-margin-b"><span id="desc"></span></p>
                    <p class="tm-blue-text tm-margin-b-s">ISBN: <span id="isbn"></span></p>
                    <p class="tm-blue-text tm-margin-b-s">Condition: <span id="condition"></span></p>
                    <h4 class="tm-blue-text tm-margin-b">Price: <span id="price"></span>$</h4>

                    <!-- <a href="#" class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-l">Add to Wishlist</a> -->
                    <a href="#" class="tm-btn tm-btn-blue tm-margin-b-l" id="buy-btn">Buy</a>
                </div>
            </section>
        </div>

        <footer>
            Copyright &copy; 2022 | Pick-a-Book (Online Used Bookstore)
        </footer>
    </div>

    <!-- JS files -->
    <script src="js-lib/jquery-1.11.3.min.js"></script>
    <script src="js-lib/popper.min.js"></script>
    <script src="js-lib/bootstrap.min.js"></script>
    <script src="js/bookPreview.js"></script>
</body>

</html>